/**
 * Upload widget
 *
 * @author Flavius
 * @version 0.1
 */
div.upload-widget {
}

    /** Preview **/
    div.upload-widget > div.preview {
        display: inline-block;
        padding: 0px 10px 10px 0px;
    }

        div.upload-widget > div.preview > a {
            display: inline-block;
            border: 2px solid #cacaca;
            background: #fff;
            padding: 2px;
        }

        div.upload-widget > div.preview > a:hover {
            border-color: #999999;
        }

            div.upload-widget > div.preview > a > img {
                height: 100px;
                display: inline-block;
            }
